[Unit]
Description=YoLinkV2 Proxu Service
After=network.service

[Service]
ExecStart=<YOUR_PATH>/YoLinkAPI_V2/start_yolinkv2.sh
WorkingDirectory=<YOUR_PATH>/YoLinkAPI_V2
StandardOutput=inherit
StandardError=inherit
User=antonio
Restart=on-failure
RestartSec=60s

[Install]
WantedBy=multi-user.target
